body, html, #root, #App, .container {
  height: 100%;
  margin: 0;
}

@media all and (min-width: 320px) {
  body {
    padding: 20px 10px;
  }

  #tour-details {
    margin: 0;
    height: 70%;
  }

  .leaflet-container {
    height: 100%;
    width: 100%;
  }
}

@media all and (min-width: 720px) {
  #tour-details {
    margin: 0;
    height: 70%;
  }

  .leaflet-container {
    height: 100%;
    width: 100%;
  }
}

.leaflet-container {
    z-index: 0;
}
