@media all and (min-width: 320px) {
  body {
    padding: 20px 10px;
  }

  #tour-details {
    margin: 0;
    height: 70%;
  }

  .leaflet-container {
    height: 50vh;
  }

  .ui.grid > .column, .ui.stackable.grid > .column {
    padding: 0 !important;
  }
}
