.leaflet-container {
    z-index: 0;
}

@media all and (max-width: 900px){
  .leaflet-container {
    height: 100vh;
    width: 100%;
  }
}

@media all and (max-width: 470px) {
  .leaflet-container {
    height: 50vh;
    width: 100%;
  }
}
